@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 1vh;
    background-image: linear-gradient(to right, rgb(222, 40, 114), rgb(245, 134, 65));
    font-family: 'Exo 2', sans-serif;
    overflow-x: hidden;
}



button{
    cursor: pointer;
}